*
*/**
!.gitattributes
!.github/
!.githooks/
!docs/
!etc/
!lib/
!src/
!.github/**
!.githooks/**
!docs/**
!etc/**
!lib/**
!src/**
!.clangd
!CMakeLists.txt
!LICENSE
!README.md
!.editorconfig
!make
*.a
*.so
*.dll
*.dylib
